# Unreal Engine generated folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/

# Build output
Build/

# Visual Studio files
*.sln
*.VC.db
*.opensdf
*.sdf
*.suo
*.user
*.userosscache

# OS files
.DS_Store
Thumbs.db